body {
    overflow-x: hidden;
    background: radial-gradient(circle, rgb(12, 92, 197), #0098ff, #2f2bad);
    display: flex;
    flex-direction: column;
    align-items: center;
    font: 16px 'Roboto', sans-serif;
    color: #000;
}

button {
    font-size: 25px;
    color: black;
    font-family: 'Monofett', monospace;
    box-shadow: 10px 20px 4px rgb(42, 42, 42);
}

.button {
    position: relative;
    display: inline-block;
    margin: 20px;
    border-radius: 25px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

#search-input,
#search-button {
    font-family: 'Roboto', sans-serif;
    padding: 10px 25px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
}

#search-input {
    width: 100%;
}

#search-button {
    padding: 10px 25px;
    border-color: #000;
    border-radius: 5px;
    background-color: #e0c722;
    cursor: pointer;
    width: 20%;
}

#search-button:hover {
    background-color: #5953ff;
    color: #e0c722;
}

.quadro {
    width: 1200px;
    height: 400px;
    border: 4px solid #3a3a3a;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #9febfe;
    position: relative;
    overflow: hidden;
}

span {
    font-size: 25px;
    color: #2f2bad;
}

.texto {
    padding: 0;
    font-size: 25px;
    font-family: 'Concert One', sans-serif;
    color: #3a3a3a;
    position: absolute;
    top: 13%;
    left: 30%;
    right: 1%;
}

.area {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.planilha {
    margin: auto;
    color: #2f2bad;
    font: 15px 'Roboto', sans-serif;
    border-radius: 10px;
}

.abas li {
    display: inline-block;
    margin-right: 19px;
    margin-top: 300px;
    font-size: 16px;
}

.abas a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #f2f534;
    background-color: #2f2bad;
    border: 2px solid black;
    border-bottom: none;
    transition: background-color 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px whitesmoke;
    margin: 20px;
    box-sizing: border-box;
    font-size: 25px;
}

.abas a:hover {
    background: linear-gradient(to right, #ad2bad, #2f2bad);
}

.abas a.active {
    background-color: #fff;
}

.aba {
    display: none;
    padding: 20px;
    background-color: #251ef9;
    border: 1px solid #f6fa08;
    border-radius: 25px;
}

.aba p {
    margin: 0;
    border-radius: 25px;
}

.aba:target {
    display: inline-block;
    border-radius: 25px;
}

.background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

.floating-icons {
    animation: float 13s infinite;
    text-decoration: none;
    font-size: 0;
    gap: 0;
    display: flex;
    margin-top: 5px;
    right: 72%;
}

.floating-icons:hover {
    transform: scale(1.1);
}

.floating-icons .icon {
    position: absolute;
    z-index: 3;
    animation: float 13s infinite;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-icons {
    position: absolute;
    z-index: 1;
    top: 80%;
    align-items: center;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    display: flex;
    gap: 20px;
}

.floating-icons a {
    text-decoration: none;
}

.floating-icons img {
    width: 48px;
    height: 48px;
}

.art img {
    width: 330px;
    height: 290px;
    display: block;
    left: 10px;
    top: 10px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 1;
}

.duck-animation {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: auto;
    top: 3%;
    left: 0;
    transform: translate(-50%, -50%) scaleX(-1);
    animation: moveDuck 200s linear infinite;
}

@keyframes moveDuck {

    0%,
    100% {
        transform: translateX(0) scaleX(-1);
    }

    49.9999% {
        transform: translateX(1290px) scaleX(-1);
    }

    50% {
        transform: translateX(1290px) scaleX(1);
    }

    100% {
        transform: translateX(0) scaleX(1);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}